{{#article}}
    <h1>{{name}}</h1>
    <p>Published {{published}}</p>
{{/article}}

{{#author}}
    <a href="/author/{{id}}"><p>Author: {{name}}</p></a>
{{/author}}

{{#article}}
    <p><img src="/images/{{image}}"></img></p>
    {{{body}}}
{{/article}}